* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}
.container-game {
  display: block;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
}

.container-game > button {
  display: block;
  width: 33%;
  min-height: 100px;
  float: left;
  font-size: 50px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.9);
}

.container-status {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
}

.container-inputs {
  text-align: center;
}

.container-control {
  width: fit-content;
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: 0 auto;
}

.container-control > button {
  padding: 10px;
  border: solid 1px white;
  background: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.container-control > button:hover {
  border-color: rgba(0,0,0,0.5);
}

.scoreboard-container > h1 {
  user-select: none;
  padding: 20px;
}

.scoreboard-container > h1 > span {
  font-size: 12px;
  cursor: pointer;
}

.scoreboard-container > ul {
  padding: 20px;
  list-style-type: none;
}

.scoreboard-container > ul > li {
  margin-left: 10px;
  margin-bottom: 5px;
  color: rgba(0,0,0,0.7);
  border-left: solid .5px rgba(0,0,0,0.7);
  padding-left: 10px;
}

.scoreboard-container > ul > li:hover {
  color: black;
  border-left: solid .5px black;
}